.elementor-41 .elementor-element.elementor-element-c5669f4>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-41 .elementor-element.elementor-element-c5669f4:not(.elementor-motion-effects-element-type-background),
.elementor-41 .elementor-element.elementor-element-c5669f4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-cfa1f76);
}

.elementor-41 .elementor-element.elementor-element-c5669f4 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-41 .elementor-element.elementor-element-c5669f4>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-icon i {
	color: var(--e-global-color-435bebe);
	transition: color 0.3s;
}

.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-icon svg {
	fill: var(--e-global-color-435bebe);
	transition: fill 0.3s;
}

.elementor-41 .elementor-element.elementor-element-ffee953 {
	--e-icon-list-icon-size: 21px;
	--icon-vertical-align: center;
	--icon-vertical-offset: 0px;
}

.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-icon {
	padding-right: 7px;
}

.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-item>a {
	font-family: Inter, Sans-serif;
	font-size: var(--e-global-typography-84ca66e-font-size);
	font-weight: var(--e-global-typography-84ca66e-font-weight);
	font-style: var(--e-global-typography-84ca66e-font-style);
	line-height: var(--e-global-typography-84ca66e-line-height);
	letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
	word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}

.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-text {
	transition: color 0.3s;
}

.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-icon i {
	color: var(--e-global-color-435bebe);
	transition: color 0.3s;
}

.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-icon svg {
	fill: var(--e-global-color-435bebe);
	transition: fill 0.3s;
}

.elementor-41 .elementor-element.elementor-element-6c1ea07 {
	--e-icon-list-icon-size: 21px;
	--icon-vertical-align: center;
	--icon-vertical-offset: 0px;
}

.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-icon {
	padding-right: 7px;
}

.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-item>a {
	font-family: Inter, Sans-serif;
	font-size: var(--e-global-typography-112b6c4-font-size);
	font-weight: var(--e-global-typography-112b6c4-font-weight);
	line-height: var(--e-global-typography-112b6c4-line-height);
	letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
	word-spacing: var(--e-global-typography-112b6c4-word-spacing);
}

.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-text {
	transition: color 0.3s;
}

.elementor-41 .elementor-element.elementor-element-befa054>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-41 .elementor-element.elementor-element-ab15a28>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-41 .elementor-element.elementor-element-8023388>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-41 .elementor-element.elementor-element-d91bcfa {
	text-align: left;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-menu-toggle {
	margin: 0 auto;
	background-color: #48484800;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
	font-size: var(--e-global-typography-520c191-font-size);
	font-weight: var(--e-global-typography-520c191-font-weight);
	line-height: var(--e-global-typography-520c191-line-height);
	letter-spacing: var(--e-global-typography-520c191-letter-spacing);
	word-spacing: var(--e-global-typography-520c191-word-spacing);
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--main .elementor-item {
	color: #e9e3ef;
	fill: #e9e3ef;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--main .elementor-item:hover,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--main .elementor-item:focus {
	color: #c2a150;
	fill: #c2a150;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf {
	--e-nav-menu-divider-content: "";
	--e-nav-menu-divider-style: solid;
	--e-nav-menu-divider-width: 1px;
	--e-nav-menu-divider-height: 12px;
	--e-nav-menu-divider-color: var(--e-global-color-cfa1f76);
	--e-nav-menu-horizontal-menu-item-margin: calc(35px / 2);
	--nav-menu-icon-size: 28px;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 35px;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown a,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-menu-toggle {
	color: var(--e-global-color-secondary);
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown {
	background-color: var(--e-global-color-text);
	border-style: solid;
	border-width: 10px 16px 10px 16px;
	border-color: var(--e-global-color-text);
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown a:hover,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown a.highlighted,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-menu-toggle:hover {
	color: #c2a150;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown a:hover,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown a.highlighted {
	background-color: var(--e-global-color-text);
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown .elementor-item,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: Inter, Sans-serif;
	font-size: var(--e-global-typography-520c191-font-size);
	font-weight: var(--e-global-typography-520c191-font-weight);
	letter-spacing: var(--e-global-typography-520c191-letter-spacing);
	word-spacing: var(--e-global-typography-520c191-word-spacing);
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu__container.elementor-nav-menu--dropdown {
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown a {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown li:not(:last-child) {
	border-style: solid;
	border-color: var(--e-global-color-cfa1f76);
	border-bottom-width: 1px;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf div.elementor-menu-toggle {
	color: #af8b4b;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf div.elementor-menu-toggle svg {
	fill: var(--e-global-color-secondary);
}

.elementor-41 .elementor-element.elementor-element-f04fcaf div.elementor-menu-toggle:hover {
	color: #c2a150;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf div.elementor-menu-toggle:hover svg {
	fill: #c2a150;
}

.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-menu-toggle:hover {
	background-color: #02010100;
}

.elementor-41 .elementor-element.elementor-element-fdea505 .elementor-button .elementor-align-icon-right {
	margin-left: 7px;
}

.elementor-41 .elementor-element.elementor-element-fdea505 .elementor-button .elementor-align-icon-left {
	margin-right: 7px;
}

@media(max-width:1024px) {

	.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-84ca66e-font-size);
		line-height: var(--e-global-typography-84ca66e-line-height);
		letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
		word-spacing: var(--e-global-typography-84ca66e-word-spacing);
	}

	.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-112b6c4-font-size);
		line-height: var(--e-global-typography-112b6c4-line-height);
		letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
		word-spacing: var(--e-global-typography-112b6c4-word-spacing);
	}

	.elementor-41 .elementor-element.elementor-element-d91bcfa {
		text-align: left;
	}

	.elementor-41 .elementor-element.elementor-element-d91bcfa img {
		width: 75%;
	}

	.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-520c191-font-size);
		line-height: var(--e-global-typography-520c191-line-height);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}

	.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown .elementor-item,
	.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-520c191-font-size);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}
}

@media(max-width:767px) {

	.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-41 .elementor-element.elementor-element-ffee953 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-84ca66e-font-size);
		line-height: var(--e-global-typography-84ca66e-line-height);
		letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
		word-spacing: var(--e-global-typography-84ca66e-word-spacing);
	}

	.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-41 .elementor-element.elementor-element-6c1ea07 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-112b6c4-font-size);
		line-height: var(--e-global-typography-112b6c4-line-height);
		letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
		word-spacing: var(--e-global-typography-112b6c4-word-spacing);
	}

	.elementor-41 .elementor-element.elementor-element-838e127 {
		width: 80%;
	}

	.elementor-41 .elementor-element.elementor-element-7082b85 {
		width: 20%;
	}

	.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-520c191-font-size);
		line-height: var(--e-global-typography-520c191-line-height);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}

	.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown .elementor-item,
	.elementor-41 .elementor-element.elementor-element-f04fcaf .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-520c191-font-size);
		letter-spacing: var(--e-global-typography-520c191-letter-spacing);
		word-spacing: var(--e-global-typography-520c191-word-spacing);
	}
}

@media(min-width:768px) {
	.elementor-41 .elementor-element.elementor-element-ab15a28 {
		width: 100%;
	}

	.elementor-41 .elementor-element.elementor-element-838e127 {
		width: 20%;
	}

	.elementor-41 .elementor-element.elementor-element-7082b85 {
		width: 80%;
	}

	.elementor-41 .elementor-element.elementor-element-893b5fb {
		width: 20%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-41 .elementor-element.elementor-element-ab15a28 {
		width: 100%;
	}

	.elementor-41 .elementor-element.elementor-element-838e127 {
		width: 90%;
	}

	.elementor-41 .elementor-element.elementor-element-7082b85 {
		width: 10%;
	}

	.elementor-41 .elementor-element.elementor-element-893b5fb {
		width: 30%;
	}
}

.elementor-element-8023388 {
	padding: 0% 2%;
}